.map{
    display: flex;
    justify-content: center;
    margin: 1em;
}
.body-soft{
    background-color: $backgroundColor;
}   
.body-hard{
    background-color: $mainColor;
}
.incio{
    display: grid;   
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 3fr 1fr;
}
.inicio-box{
    display: flex;
    &:nth-child(odd){
        background-color: $mainColor;
        flex-direction: row-reverse;
    }

}

.index-titulo{
        display: flex;
        justify-content: center;
        align-items: center; 
}

.flex{
    background-color: red;
    width: 100px;
    height: 100px;
    border: 1em solid black;
    margin: 1em;
}