.map{
    display: flex;
    justify-content: center;
    margin: 1em;
}
.body-soft{
    background-color: $backgroundColor;
}   
.body-hard{
    background-color: $mainColor;
}
.incio{
    display: grid;   
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 3fr 1fr;
}
.inicio-box{
    display: flex;
    margin: 1em;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 1em;
    div{
        width: 45%;
        margin: .5em;
        min-width: 300px;
    }
    img{
        object-fit: contain;
        max-width: 100%;
        min-width: 300px;
        height: auto;   
        border-radius: 1em;
    }
    &:nth-child(odd){
        background-color: $mainColor;
        flex-direction: row-reverse;}
    &:nth-child(even){
        background-color: $thirdColor;
        flex-direction: row;
        color: white;
    }

}
.inicio-box-img{
    text-align: center;
    object-fit: contain;
    display: flex;
    align-content: center;
    
}

.index-titulo{
        display: flex;
        justify-content: center;
        align-items: center; 
        text-align: center;
        h1{
            font-size: $mainTitle;
        }
}

