.titulo{
    display: flex;
    background-color: $keyColor;
    margin: 1em;
    padding: .1em;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border: 1em solid red;
    .titulo-texto{
        margin: 1em;
        h1{
            font-size: 50px;
            text-align: center;
            color: white;
        }
    }
    .titulo-escudo{
        img{
            width: 150px;
            padding: 1em;
        }
    }
}