// vars
$mainColor: rgb(0, 145, 230);
$secondaryColor: rgb(78, 228, 255);
$thirdColor: rgb(8, 11, 180);
$backgroundColor: #b0dceb;
$keyColor: blue;
$grey: rgb(167, 167, 167);
$white: #F3F0F0;
$black: rgb(19, 1, 1);
$mainTitle: 100px;